
<h2><%= @article.title %></h2>
<p><%= @article.content %></p>


<%= link_to("Back to overview", articles_path) %>
<%= link_to("Edit a article", edit_article_path) %>
<%= link_to 'Delete', article_path, method: :delete, data: {confirm: "Are you sure?"} %>  